
@{
    ViewData["Title"] = "Sucess";
}
@using LoginSito.Models.ViewModels

@model LoginViewModel

<div class="text-center">
    <h1>Benvenuto @Model.User</h1>
    <br />
    <br />
    <h3>Il tuo Id è = @Model.Id</h3>
</div>
